.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto

/.quarto/

.Rprofile

**/*.quarto_ipynb

submissions/

no_git

**/data/
**/reviews/

presentations/

manuscript*

call_for_collaboration/

emails/

.positai
